cite {
  display: block;
  margin-top: 1.5rem;
}
h3 {
  border-bottom: 1px solid rgb(216.75, 216.75, 216.75);
}

/*BLOG CSS*/

.blog-card {
  background: var(--accent-bg);
  border: var(--border-width) solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
.blog-card h1 {
  border-bottom: 1px solid rgb(216.75, 216.75, 216.75);
  margin-bottom: 0rem;
  margin-top: 0.8rem;
}
.blog-card p {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.blog-card .blog-date {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: 0.9rem;
}
.blog-card a p,
h1 {
  color: var(--text);
}
.blog-card a {
  text-decoration: none;
}
.blog-card:hover {
  background: var(--bg);
  border-color: var(--accent);
  color: var(--accent);
  cursor: pointer;
}

/*TWITTER POST CSS*/

.twitter-card {
  background: var(--accent-bg);
  border: var(--border-width) solid var(--border);
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
  padding: 1rem;
}
.twitter-card .profile-picture {
  border-radius: 50%;
}
.twitter-card .picture {
  margin-top: 1rem;
}
.twitter-card a {
  text-decoration: none;
}
.twitter-card a p, span, div,
h1 {
  color: var(--text);
}
.twitter-card:hover {
  background: var(--bg);
  border-color: var(--accent);
  color: var(--accent);
  cursor: pointer;
}

.profile-info {
  display: flex;
  align-items: center;
  height: auto;
  line-height: auto;
}
.twitter-card span {
  margin-top: 0.6rem;
  display: flex;
  font-size: 1.15rem;
}
.name {
  display: flex;
  margin-left: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
}
.handle {
  display: flex;
  margin-left: 0.6rem;
  font-size: 1rem;
}
.date {
  margin-top: 0.6rem;
  display: flex;
  font-size: 0.9rem;
}
