@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,input,textarea,select,button,option{
	font-family:"Inter",system-ui,Helvetica,Arial,sans-serif;
}
p,ul,ol,dl,blockquote,hr,pre,table,form,fieldset,figure,address{
	margin-bottom:1rem;
}
.blog-title{
    margin-top:1rem;
    font-size:3rem;
}
.blog-info{
	font-size:0.9rem
}
/* h1{
	border-bottom:2px solid rgb(146, 146, 146);
} */
h2{
	border-bottom:1px solid rgb(216.75,216.75,216.75);
	margin-top:0rem;
}
h3{
	margin-top:0rem;
}
blockquote .author{
	    display: block;
	color:#595959;
	font-size:0.84375rem;
	margin-bottom:0
}